src/app/az-func-orap/sps-orap.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="ORAPDataExtract" targetNamespace="http://tempuri.org/">
	<wsp:Policy wsu:Id="WSHttpBinding_IService1_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict/>
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
				<wsaw:UsingAddressing/>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="https://teco-orap-xfer.spsinc.com/ORAPDataExtract.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
			<xsd:import schemaLocation="https://teco-orap-xfer.spsinc.com/ORAPDataExtract.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IService1_GetGenFuelPerf_InputMessage">
		<wsdl:part name="parameters" element="tns:GetGenFuelPerf"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetGenFuelPerf_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetGenFuelPerfResponse"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetGenPerfIncent_InputMessage">
		<wsdl:part name="parameters" element="tns:GetGenPerfIncent"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetGenPerfIncent_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetGenPerfIncentResponse"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetOutages_InputMessage">
		<wsdl:part name="parameters" element="tns:GetOutages"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetOutages_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetOutagesResponse"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetFleetRAMKPIs_InputMessage">
		<wsdl:part name="parameters" element="tns:GetFleetRAMKPIs"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetFleetRAMKPIs_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetFleetRAMKPIsResponse"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetEvtHrsSummary_InputMessage">
		<wsdl:part name="parameters" element="tns:GetEvtHrsSummary"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetEvtHrsSummary_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetEvtHrsSummaryResponse"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetNetFactorsRates_InputMessage">
		<wsdl:part name="parameters" element="tns:GetNetFactorsRates"/>
	</wsdl:message>
	<wsdl:message name="IService1_GetNetFactorsRates_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetNetFactorsRatesResponse"/>
	</wsdl:message>
	<wsdl:portType name="IService1">
		<wsdl:operation name="GetGenFuelPerf">
			<wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGenFuelPerf" message="tns:IService1_GetGenFuelPerf_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGenFuelPerfResponse" message="tns:IService1_GetGenFuelPerf_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetGenPerfIncent">
			<wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGenPerfIncent" message="tns:IService1_GetGenPerfIncent_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGenPerfIncentResponse" message="tns:IService1_GetGenPerfIncent_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetOutages">
			<wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOutages" message="tns:IService1_GetOutages_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOutagesResponse" message="tns:IService1_GetOutages_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetFleetRAMKPIs">
			<wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFleetRAMKPIs" message="tns:IService1_GetFleetRAMKPIs_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFleetRAMKPIsResponse" message="tns:IService1_GetFleetRAMKPIs_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetEvtHrsSummary">
			<wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEvtHrsSummary" message="tns:IService1_GetEvtHrsSummary_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEvtHrsSummaryResponse" message="tns:IService1_GetEvtHrsSummary_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetNetFactorsRates">
			<wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNetFactorsRates" message="tns:IService1_GetNetFactorsRates_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNetFactorsRatesResponse" message="tns:IService1_GetNetFactorsRates_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSHttpBinding_IService1" type="tns:IService1">
		<wsp:PolicyReference URI="#WSHttpBinding_IService1_policy"/>
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetGenFuelPerf">
			<soap12:operation soapAction="http://tempuri.org/IService1/GetGenFuelPerf" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetGenPerfIncent">
			<soap12:operation soapAction="http://tempuri.org/IService1/GetGenPerfIncent" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOutages">
			<soap12:operation soapAction="http://tempuri.org/IService1/GetOutages" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFleetRAMKPIs">
			<soap12:operation soapAction="http://tempuri.org/IService1/GetFleetRAMKPIs" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEvtHrsSummary">
			<soap12:operation soapAction="http://tempuri.org/IService1/GetEvtHrsSummary" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNetFactorsRates">
			<soap12:operation soapAction="http://tempuri.org/IService1/GetNetFactorsRates" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ORAPDataExtract">
		<wsdl:port name="WSHttpBinding_IService1" binding="tns:WSHttpBinding_IService1">
			<soap12:address location="https://teco-orap-xfer.spsinc.com/ORAPDataExtract.svc"/>
			<wsa10:EndpointReference>
				<wsa10:Address>https://teco-orap-xfer.spsinc.com/ORAPDataExtract.svc</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>